
body { 
  background-color: #1B1B1B;
  margin: 0px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
}
.navlinks-container {
  display: flex;
}

.nav-icon {
  height: 30px; 
  margin-right: 5px;
  margin-top: 25px;
}

.nav-icon-profile {
  height: 30px;
  margin-right: 5px;
  margin-top: 21px;
}

.navlink{
  margin-right: 20px;
  text-decoration: none;
  color: white;
  font-size: 12px;
}

.header-logo {
  width: 220px;
  margin: 20px;
  
}

