:root{
    --border-radius-neu: 45px;
    --neu-box-shadow: 10px 10px 15px #0f0f0f, -10px -10px 15px #333333;
    --neu-stroke: solid 2px;
    --neu-border-color: linear-gradient(135deg, #0a0a0a, #171717) .6;
    --position-out: outside;
}